/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 11, 2016, 3:25:50 PM
    Author     : switlik
*/

div.emailfoldermenu {
    display: inline-block;
}

div.emailmenuoption {
    display: inline-block;
    margin-right: 25px;
}

div.emailmenuoption select {
    margin-left: 0.4em;
}

div.emailmenuoption label {
    display: inline;
}


div.emailmessage .mitem {
    display: table;
}

div.emailmessage .mitemtitle {
    float: left;
    text-align: right;
    width: 75px;
}

div.emailmessage .mitemtitle label {
    display: inline-block;
    font-weight: bold;
}

div.emailmessage .melement {
    margin-left: 95px;
}

div.emailmessage .menulink {
    display: inline-block;
    margin-left: 15px;
    margin-right: 5px;
    margin-bottom: 10px;
}

div.emailfoldersitem {
    margin-left: 30px;
    margin-right: 5px;
    margin-bottom: 10px;
}

div.emailfoldersitem label {
    display: inline-block;
    width: 125px;
    font-weight: bold;
}

div.emailfoldersitem .folderoptions {
    display: inline;
}

div.emailfoldermanagement .menulink {
    display: inline-block;
    margin-bottom: 10px;
}

div.emailfoldermanagement .mform .fitem div.fitemtitle {
    width: 125px;
}

div.emailfoldermanagement .mform .fitem div.felement {
    margin-left: 145px;
}

#page-mod-email-folders #fgroup_id_buttonar {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
}

#page-mod-email-folders .mform .fitem {
    margin-bottom: 0;
}

#page-mod-email-folders .mform {
    padding-top: 5px;
    border: solid 1px #D9D9D9;
}

#page-mod-email-view .mform .fitem {
    display: inline-block;
    margin-top: 5px;
}

#page-mod-email-view .mform .fitem .fitemtitle {
    width: 105px;
}

#page-mod-email-view .mform .fitem .felement {
    margin-left: 110px;
}

#page-mod-email-view #fitem_id_moveto .fitemtitle{
    width: 70px;
}

#page-mod-email-view #fitem_id_moveto .felement{
    margin-left: 75px;
}

#page-mod-email-view #fitem_id_gobutton .felement{
    margin-left: 10px;
}
